data/
venv/
vennv/
plots/
merged_parquet/
merged_csv/
merged/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.idea/
*.vscode/
*.coverage
*.pytest_cache/
*.mypy_cache/
*.ipynb_checkpoints/